{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<header>
  <h1>{% block title %}Canciones{% endblock %}</h1>
</header>
{% endblock %} {% block content %} {% for Cancion in canciones %}
<article>
  <body>
    <div>
      <h1>{{ Cancion['Cancion'] }}</h1>
      <div>
        Artista:
        <a
          class="links"
          href="{{ url_for('Artista.detalle', id=Cancion['ArtistId']) }}"
        >
          {{Cancion['Artista'] }}</a
        >
      </div>
      <div>
        Album:
        <a
          class="links"
          href="{{ url_for('Album.detalle', id=Cancion['AlbumId']) }}"
        >
          {{ Cancion['Album']}}</a
        >
      </div>
      <div>Género: {{ Cancion['Genero']}}</div>
    </div>
  </body>
</article>
{% endfor %} {% endblock %}
