{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<header>
  <h1>{% block title %}Artistas{% endblock %}</h1>
</header>
{% endblock %} {% block content %} {% for Artista in artistas %}
<article>
  <body>
    <div>
      <h1>{{ Artista['Nombre'] }}</h1>
      <div>
        <a
          class="links"
          href="{{ url_for('Artista.detalle', id=Artista['ArtistId']) }}"
          >Albumes</a
        >: {{ Artista['Albums'] }}
      </div>
    </div>
  </body>
</article>
{% endfor %} {% endblock %}
