{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<header>
  <h1>{% block title %}Albumes{% endblock %}</h1>
</header>
{% endblock %} {% block content %} {% for albumes in album %}
<body>
  <div>
    <h1>
      <a
        class="links"
        href="{{ url_for('Album.detalle', id=albumes['AlbumId']) }}"
        >{{ albumes['Album'] }}</a
      >
    </h1>
    <div>
      Artista:
      <a
        class="links"
        href="{{ url_for('Artista.detalle', id=albumes['ArtistId']) }}"
        >{{ albumes['Artista'] }}</a
      >
    </div>
  </div>
</body>
{% endfor %} {% endblock %}
